<div class='main'>
  <div class='main-contents'>
    <h2>食品選択</h2>
    <p>今日は何を食べましたか？</p>
    <input type="number" id="coice_one" value="">
    <p>ライスのカロリーは<%= @choice_one.calorie %>です</p>
    <p>野菜のカロリーは<%= @choice_two.calorie %>です</p>
    <p>肉のカロリーは<%= @choice_three.calorie %>です</p>
    <p>魚のカロリーは<%= @choice_four.calorie %>です</p>
  </div>
</div>